<footer class="br-footer">
	<div class="container-lg">
		<div class="logo text-center">
			<a href="https://paraiba.pb.gov.br/" target="_blank">
				<img class="footer-logo" alt="Gov.br" src="assets/img/logo_gov.svg" />
			</a>
		</div>
	</div>
	<span class="br-divider mb-3"></span>
	<div class="container-lg">
		<div class="info">
			<div class="text-down-01 text-medium pb-3 text-center">
				O Padrão Digital do Governo da Paraíba utiliza as licenças
				<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 1.0 Universal</a>
				e <a href="https://mit-license.org/" target="_blank">MIT</a>.
			</div>
		</div>
	</div>
</footer>
