.br-footer {
	min-height: 50px;
}

.footer-logo {
	height: 48px;
	margin: calc(var(--spacing-scale-base) * 8) 0;
	width: 102px;
	margin-top: 20px;
	margin-bottom: 0;
}

.logo a:hover {
	background-image: none;
}

.logo {
	min-height: 88px;
	margin: 0;
	padding: 0;
}
