.container-grid {
	@media (min-width: 992px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.title-description {
	--font-size: var(--font-size-scale-up-02);
}

.img-background {
	align-items: center;
	background-image: url("../../assets/img/background-card.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 120px;
	justify-content: center;
	text-align: center;
	img {
		height: 80%;
		width: auto;
	}
}

.tab-panel {
	margin-top: 35px;
}

.version {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 10px;
}

a:not(:disabled):hover {
	--interactive-rgb: var(--interactive-light-rgb);
}
