<br-header></br-header>

<main class="main">
	<div class="container-fluid">
		<div class="row">
			<br-menu
				[ngClass]="{
					'col-xl-2 col-lg-3 col-md-4 col-sm-5': showMenu,
					'd-none': !showMenu
				}"
			></br-menu>
			<div class="pt-4 pb-5 col">
				<br-page-not-found *ngIf="notFound"></br-page-not-found>
				<router-outlet *ngIf="!notFound"></router-outlet>
			</div>
		</div>
	</div>
</main>

<br-footer></br-footer>

<br-scroll-top></br-scroll-top>
