.hiddencomentary {
	display: none;
	&.show {
		display: block;
	}
	.br-radio {
		padding-bottom: 16px;
	}
	strong {
		font-size: 14px;
	}
	.br-textarea {
		max-width: 480px;
	}
	.subhidden {
		font-size: 11.67px;
	}
}

.sucesso {
	display: none;
	&.show {
		display: block;
	}
}

.errorEmptyOption {
	display: none;
	&.show {
		display: block;
	}
}

.avaliacao {
	height: 500px;
	display: none;
	padding-top: 16px;
	--message-background: var(--success-alternative);
	background: --success-alternative;

	&.show {
		display: block;
	}
}

.avaliacaoContent {
	background: var(--gray-2);
	padding: 16px;
	// max-wid
	th: 500px;
}

.content {
	font-size: 11.67px;
}

.informacaoUtil {
	display: flex;
	flex-direction: row;
	strong {
		padding-right: 28px;
		font-size: 16.8px;
		padding-top: 4px;
	}
}

.footer-feedback {
	max-width: 514px;
	.br-button {
		right: 0;
	}
}

.br-modal-footer {
	max-width: 514px;
	.br-button {
		right: 0;
	}
}
