html {
	scroll-behavior: smooth;
}

blockquote {
	position: static;
}

section,
.toolbar-item,
markdown,
br-tabs {
	.br-button {
		position: static;
	}
}

.br-tab .tab-item {
	position: static;
}

@media (min-width: 576px) {
	.br-menu.active {
		.menu-container {
			top: 105px;
			position: sticky;
		}
	}
	br-header[compact] {
		+ main {
			.site-menu {
				height: 88vh;
			}
		}
	}
}

@media (max-width: 575px) {
	.br-menu.active {
		.menu-container {
			top: 104px;
			.menu-panel {
				height: unset;
			}
		}
	}
	br-header[compact] {
		+ main {
			.br-menu.active {
				.menu-container {
					top: 88px;
				}
			}
		}
	}
}
